<% sleep 0.5 %>
<%= render 'p_style' %>
<%= render 'script' %>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>                        
      </button>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'MB', '/', class: 'navbar-brand' %> </li>
      </ul>
    </div>
      
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to 'Back to Main Page', '/' %></li>
				<li> <%= link_to 'Portfolio', '#portfolio' %> </li>
      </ul>
    </div>

  </div>
</nav>


<div id="portfolio" class="container-fluid"  style="padding-top: 120px">

  <h3 class="text-center"> Portfolio </h3>

  <div class="row">
    
    <div class="col-sm-4 col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>

    <div class="col-sm-4 col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>       
    
    <div class="col-sm-4 col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>

  <!-- row -->
  </div>

  <div class="row">

    <div class="col-sm-4 col-xs-6 slideanim">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>mericbal.com</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <%= link_to '', 'http://www.mericbal.com', class: 'btn btn-lg glyphicon glyphicon-globe', title: 'www...', target: 'blank' %>
          <%= link_to '', 'https://github.com/mericbal/mericbal.com', class: 'btn btn-lg fa fa-github', style:'font-size:24px', title: 'check on Github', target: 'blank' %>
          <%= link_to '', '/merhaba', class: 'btn btn-lg glyphicon glyphicon-info-sign', title: 'project info', target: 'blank' %>
        </div>
      </div>      
    </div>

    <div class="col-sm-4 col-xs-6 slideanim">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1 style="font-size: 30px">GS Parking Valet App</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <%= link_to '', 'http://gsparking.herokuapp.com', class: 'btn btn-lg glyphicon glyphicon-globe', title: 'www...', target: 'blank' %>
          <%= link_to '', 'https://github.com/mericbal/mericbal.com', class: 'btn btn-lg fa fa-github', style:'font-size:24px', title: 'check on Github', target: 'blank' %>
          <%= link_to '', '/merhaba', class: 'btn btn-lg glyphicon glyphicon-info-sign', title: 'project info', target: 'blank' %>
        </div>
      </div>      
    </div>

    <div class="col-sm-4 col-xs-6 slideanim">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1 style="font-size: 30px">Fallout 4 Game Tracker</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <%= link_to '', 'http://fallout-4.herokuapp.com', class: 'btn btn-lg glyphicon glyphicon-globe', title: 'www...', target: 'blank' %>
          <%= link_to '', 'https://github.com/mericbal/mericbal.com', class: 'btn btn-lg fa fa-github', style:'font-size:24px', title: 'check on Github', target: 'blank' %>
          <%= link_to '', '/merhaba', class: 'btn btn-lg glyphicon glyphicon-info-sign', title: 'project info', target: 'blank' %>
        </div>
      </div>      
    </div>     
  
  <!-- row -->
  </div> 

  <div class="row">

    <div class="col-sm-4 col-xs-6 slideanim">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Miwitter</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <%= link_to '', 'http://miwitter.herokuapp.com', class: 'btn btn-lg glyphicon glyphicon-globe', title: 'www...', target: 'blank' %>
          <%= link_to '', 'https://github.com/mericbal/mericbal.com', class: 'btn btn-lg fa fa-github', style:'font-size:24px', title: 'check on Github', target: 'blank' %>
          <%= link_to '', '/merhaba', class: 'btn btn-lg glyphicon glyphicon-info-sign', title: 'project info', target: 'blank' %>
        </div>
      </div>      
    </div>

    <div class="col-sm-4 col-xs-6 slideanim">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Miwitter</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <%= link_to '', 'http://miwitter.herokuapp.com', class: 'btn btn-lg glyphicon glyphicon-globe', title: 'www...', target: 'blank' %>
          <%= link_to '', 'https://github.com/mericbal/mericbal.com', class: 'btn btn-lg fa fa-github', style:'font-size:24px', title: 'check on Github', target: 'blank' %>
          <%= link_to '', '/merhaba', class: 'btn btn-lg glyphicon glyphicon-info-sign', title: 'project info', target: 'blank' %>
        </div>
      </div>      
    </div>  


  <!-- row -->
  </div>


</div>

<!-- Top Resume Navbar -->
<nav class="navbar-fixed-top"> 
  <div class="container-fluid text-center">
    <p> <%= link_to 'Click here for Resume', '/resume.pdf', class: 'btn btn-primary btn-lg', target: 'blank' %> </p>
  </div>
</nav>

